/* общие стили на экранах записи */
.main-content-appointment {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.main-content-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0;
}

.appointment-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 24px;
}

/* трекер шагов записи */
.appointment-header-step {
  font-size: 18px;
  font-weight: 500;
  letter-spacing: -4%;
  color: var(--text-pale-l);
}

.appointment-steps {
  margin-top: 12px;
  align-items: center;
  display: flex;
  width: 100%;
  gap: 12px;
}

.appointment-step {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  gap: 4px;
}

.appointment-step-number {
  background: var(--white);
  min-width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--light-grey);
  border-radius: 2000px;

  color: var(--text-pale-l);
  font-size: 20px;
  font-weight: 600;
}

.appointment-step-number.active {
  border: none;

  background: var(--Gradient-orange);
  color: var(--white);
}

.appointment-choose-info {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.appointment-step-text {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -4%;
  color: var(--text-pale-l);
  white-space: nowrap;
  min-width: max-content;
}

.appointment-step-text.active {
  font-weight: 500;
  color: var(--accent-orange);
}

.appointment-steps-line {
  height: 2px;
  background: var(--medium-grey-50);
  width: 100%;
}
.appointment-steps-line.active {
  height: 2px;
  background: var(--Gradient-orange);
  width: 100%;
}

/* кнопки выбора при записи */
.buttons-choose {
  display: flex;
  gap: 10px;
  width: 100%;
}

.button-choose {
  font-size: 17px;
  font-weight: 600;

  position: relative;
  padding: 20px 26px;
  background-color: var(--white);
  border: 1px solid var(--light-grey);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 18px;
  width: 100%;
  cursor: pointer;
}

.button-choose:hover {
  border-color: var(--accent-blue);
}

.choose-icon {
  width: 46px;
}

.hide {
  display: none;
}

.appointment-choose-header {
  font-size: 20px;
  font-weight: 600;
}

.appointment-choose-text {
  font-weight: 500;
  font-size: 13px;
  color: var(--text-pale-l);
}

.button-choose.active {
  border: 2px solid var(--accent-blue);
}

.button-choose.active {
  padding: 20px 60px 20px 24px;
}

.check-icon {
  width: 32px;
  position: absolute;
  right: 26px;
  top: 20px;
}

.check-icon.any {
  top: 15px;
}

.choose-container.doctor > .check-icon {
  top: 15px;
}

.appointment-button-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.buttons-choose.clinics,
.buttons-choose.doctors {
  flex-direction: column;
}

.button-choose-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 12px;
}

.choose-container {
  flex: 0 0 calc(50% - 8px);
  min-width: 300px;
  gap: 8px;
}

.clinic-info {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.clinic-info-item {
  display: flex;
  gap: 4px;
  font-size: 14px;
  font-weight: 500;
  color: var(--text-pale-grey);
}

.button-choose.any {
  max-height: 62px;
}

.clinic-info-icon {
  width: 16px;
  height: 16px;
}

/* блок "позвоните нам" */
.call-us {
  display: flex;
  gap: 10px;
  padding: 16px;
  margin-top: auto;

  width: 100%;
  box-sizing: border-box;

  background: var(--Gradient-blue-10);
  border: 1px solid var(--light-grey);
  border-radius: 20px;
}

.call-us-info {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.call-us-header {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: -4%;
}

.call-us-text {
  font-size: 13px;
  font-weight: 400;
}

.call-us-phone {
  font-weight: 700;
  color: var(--accent-orange);
}

/* страница выбора даты и времени */

.filters-container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;

  position: relative;
  padding: 12px;
  background-color: var(--white);
  border: 1px solid var(--light-grey);
  border-radius: 20px;
  column-gap: 28px;
  row-gap: 12px;
}

.dropdown-container {
  width: fit-content;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.appointment-label {
  font-size: 14px;
  letter-spacing: -5%;
  color: var(--text-pale-grey);
}

.select-wrapper {
  padding: 10px 18px;
  border-radius: 14px;
  border: 1px solid var(--light-grey);
  color: var(--text-grey);
  display: flex;
  gap: 12px;
  align-items: center;
  font-size: 14px;
  font-weight: 600;
}

.calendar-container {
  display: flex;
  flex-direction: column;
  gap: 4px;
  background-color: var(--white);
  width: 100%;
  padding: 12px;
  border-radius: 20px;
  border: 1px solid var(--light-grey);
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.month-container {
  font-size: 18px;
  letter-spacing: -5%;
  font-weight: 600;
}

.actions-container {
  display: flex;
  align-items: center;
  gap: 14px;
}

.week-swipe-container {
  display: flex;
  gap: 8px;
}

.week-swipe-button,
.button-month-overlay {
  border: 1px solid var(--light-grey);
  border-radius: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
}

.week-swipe-button:hover,
.button-month-overlay:hover {
  background: var(--Gradient-blue-10);
}

.calendar-buttons {
  display: flex;
  gap: 4px;
}

.button-date {
  width: 100%;
  height: 68px;
  border-radius: 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4px;
}

.calendar-date {
  color: var(--text-grey);
  font-weight: 600;
  font-size: 16px;
}

.calendar-day {
  color: var(--text-pale-grey);
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
}

.button-date.active > span {
  color: var(--white);
}

.button-date.active {
  background: var(--Gradient-blue);
  pointer-events: none;
}

.button-date.active > .calendar-date {
  font-weight: 700;
}
.button-date.active > .calendar-day {
  font-weight: 500;
}

.button-date:hover {
  background: var(--Gradient-blue-10);
}

.doctors-card-list {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 100%;
}

.doctor-card {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 18px 28px;
  border-radius: 14px;
  border: 1px solid var(--light-grey);
  background-color: var(--white);
}

.doctor-card-name {
  font-size: 18px;
  font-weight: 600;
}

.doctor-time-list {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}

.doctor-time {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  width: 88px;
  border-radius: 14px;
  font-weight: 500;
  border: 1px solid var(--light-grey);
  color: var(--text-pale-grey);
  font-size: 16px;
}

.doctor-time:hover {
  background: var(--Gradient-blue-10);
}

.doctor-time.active {
  background: var(--Gradient-blue);
  color: var(--white);
  pointer-events: none;
  font-weight: 600;
  border: none;
}

@media (max-width: 650px) {
  .appointment-header-step {
    font-size: 14px;
  }
  .appointment-steps {
    gap: 0;
  }

  .appointment-step-number {
    min-width: 24px;
    height: 24px;
    font-size: 13px;
  }

  .appointment-step-text {
    font-size: 11px;
  }

  .buttons-choose {
    flex-direction: column;
  }

  .appointment-choose-header {
    font-size: 18px;
  }

  .appointment-choose-text {
    font-size: 14px;
  }

  .buttons-choose {
    gap: 6px;
    font-size: 16px;
  }

  .button-choose-list {
    gap: 6px;
    flex-direction: column;
  }

  .choose-container {
    flex: 1 1 0;
  }

  .calendar-buttons {
    gap: 0;
  }
}
