/* шрифт */
@font-face {
  font-family: "Montserrat";
  src: url("../../font/Montserrat/Montserrat-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("../../font/Montserrat/Montserrat-Italic-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 100 900;
  font-style: italic;
}

/* переменные */
:root {
  --Gradient-orange: linear-gradient(86deg, #ff9623 19.24%, #ff5912 106.12%);
  --Gradient-blue: linear-gradient(91.01deg, #12aaff -7.24%, #0070d1 91.55%);
  --Gradient-blue-10: linear-gradient(
    91.01deg,
    rgba(18, 170, 255, 0.1) -7.24%,
    rgba(0, 112, 209, 0.1) 91.55%
  );

  --accent-blue: #0070d1;
  --accent-orange: #ff7000;
  --warning-red: #a30000;

  --skyblue: #edf7ff;
  --lightblue: #c1d6e9;
  --turquoise: #8aa3b9;
  --darkblue: #0051a9;

  --text-black: #383f45;
  --text-grey: #565c61;
  --text-pale-grey: #787d81;
  --text-pale-l: #888c8f;

  --pale-grey: #f6f6f6;
  --light-grey: #eaeaea;
  --medium-grey: #d6d6d6;
  --medium-grey-50: rgba(214, 214, 214, 0.5);
  --grey: #999;

  --white: #fff;

  --cancel: #ee0020;
  --cancel-pale: #ffcccd;

  --state-wait-confirm-bg: #fffbeb;
  --state-wait-confirm-brdr: #feeca5;
  --state-wait-confirm-txt: #bd5307;

  --state-confirm-bg: #ecfdf5;
  --state-confirm-brdr: #a6f4d0;
  --state-confirm-txt: #078264;

  --state-done-bg: #f5f5f4;
  --state-done-brdr: #e2e8f0;
  --state-done-txt: #575d62;
}

/* скроллбар */
.patient-panel::-webkit-scrollbar {
  height: 8px;
}

.patient-panel::-webkit-scrollbar-track {
  background: var(--light-grey);
  border-radius: 10px;
}

.patient-panel::-webkit-scrollbar-thumb {
  background: var(--medium-grey);
  border-radius: 10px;
}

.patient-panel::-webkit-scrollbar-thumb:hover {
  background: var(--grey);
}

/* общие стили */

* {
  transition: all 0.2s ease;
}

main {
  width: 100%;
}

html,
body {
  width: 100%;
  min-height: 100%;
  margin: 0;
  overflow: hidden;
}

body {
  background-color: var(--skyblue);
  font-family: "Montserrat", sans-serif;
  color: var(--text-black);
}

input {
  border: solid 1px var(--medium-grey-50);
  padding: 16px 12px;
  border-radius: 16px;
  outline: none;
}

input::placeholder {
  color: var(--grey);
  opacity: 1;
}

/* общие кнопки */
.main-button {
  background: var(--Gradient-blue);
  color: var(--white);
  font-size: 15px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  gap: 6px;
  align-items: center;
  padding: 12px 24px;
  border-radius: 12px;
  cursor: pointer;

  transition: opacity 0.3s ease;
}

.sub-button {
  background: var(--white);
  border: 1px solid var(--light-grey);
  color: var(--text-grey);
  font-size: 15px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  gap: 6px;
  align-items: center;
  padding: 12px 24px;
  border-radius: 12px;
  cursor: pointer;

  transition: opacity 0.3s ease;
}

.sub-button:hover {
  background: var(--Gradient-blue-10);
}

.main-button:hover {
  opacity: 0.75;
}

label {
  font-size: 13px;
  font-weight: 500;
  color: var(--text-grey);
}

.button-dwnld {
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 6px 12px;
  border-radius: 10px;
  border: 1px solid;
  border-color: var(--Gradient-blue);
  color: var(--accent-blue);

  font-size: 14px;
}

.button-dwnld:hover {
  background: var(--Gradient-blue-10);
}

/* структура страницы после входа*/

.body-wrapper {
  display: flex;
  width: 100vw;
  min-height: 100vh;
}

/* боковая панель */

.city-container {
  display: flex;
  gap: 6px;
  align-items: center;
}

.map-icon {
  margin: 2px 3px;
}

.city {
  font-size: 16px;
  font-weight: 600;
  color: var(--text-grey);
}

.menu-button.active {
  background: var(--Gradient-blue);
}

.menu-button.active {
  color: var(--white);
  font-weight: 600;
}

.menu-button.active svg {
  fill: var(--white);
}

.logo-header {
  padding: 14px 34px 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.logo {
  max-width: 220px;
}

.side-menu {
  padding-bottom: 14px;
  position: fixed;
  left: 0;
  top: 0;

  width: 288px;
  height: 100vh;
  flex: 0 0 288px;
  background-color: var(--white);
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 52px;

  border-right: 1px solid var(--light-grey);
}

.nav-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 0 10px;
}

.main-menu {
  display: flex;
  flex-direction: column;
}

.menu-button svg {
  fill: var(--text-pale-grey);
}

.menu-button {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: -4%;

  padding: 14px 17px;
  width: 100%;
  border-radius: 20px;
  color: var(--text-pale-grey);

  display: flex;
  align-items: center;
  gap: 12px;
}

/* верхняя панель с пациентами */
.main-container {
  margin-left: 288px;
  margin-top: 72px;

  height: calc(100vh - 72px);

  overflow-y: auto;
  overflow-x: hidden;

  display: flex;
  flex-direction: column;
}

.patient-panel {
  height: 72px;
  position: fixed;
  left: 288px;
  top: 0;
  overflow-x: auto;
  overflow-y: hidden;
  width: calc(100vw - 288px);
  box-sizing: border-box;
  background: var(--white);
  padding: 12px 26px;
  display: flex;
  gap: 24px;
  align-items: center;
  border-bottom: 1px solid var(--light-grey);
}

.patient-panel-text {
  color: var(--text-pale-l);
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
}

.patients-list {
  display: flex;
  gap: 8px;
}

.patient-button {
  flex-shrink: 0;
  padding: 12px 20px;
  border-radius: 20px;
  border: 1px solid var(--light-grey);
  font-weight: 600;
  letter-spacing: -4%;
}
.patient-button:hover {
  background: var(--Gradient-blue-10);
}

.patient-button.dropdown {
  display: none;
}

.patient-button.active {
  background: var(--Gradient-blue-10);
  color: var(--accent-blue);
  border-color: var(--Gradient-blue);
}

.patient-name {
  font-size: 16px;
}

.patient-age {
  color: var(--text-pale-l);
  font-size: 14px;
}

/* контент выбранного режима навигации */
.main-content-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  padding: 32px 16px 16px 32px;
  max-width: 1040px;
  overflow-y: auto;
  overflow-x: hidden;
}

.main-content-header {
  font-size: 28px;
  font-weight: 600;
  letter-spacing: -4%;
  display: flex;
  align-items: center;
  gap: 8px;
}

.main-content {
  margin-top: 24px;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.burger-menu-container {
  display: none;
  gap: 16px;
}
.burger-menu {
  display: flex;
  flex-direction: column;
  gap: 6px;
  flex-shrink: 0;
  width: 36px;
  padding: 10px 6px;
}

.burger-menu-line {
  width: 100%;
  min-height: 2px;
  background-color: var(--text-grey);
  border-radius: 100px;
}

@media (max-width: 1000px) {
  .main-content-container {
    padding: 16px;
  }

  .burger-menu-container {
    display: flex;
  }

  .side-menu {
    top: 72px;
  }

  .patient-panel-text {
    display: none;
  }

  .patient-panel {
    left: 0;
    width: 100%;
    z-index: 1002;
  }

  .logo {
    display: none;
  }

  .logo-header {
    padding: 20px 24px;
    border-bottom: 1px solid var(--light-grey);
  }

  .side-menu {
    height: calc(100vh - 72px);
    gap: 20px;
    transform: translateX(-100vw);
    transition: transform 0.3s ease;

    z-index: 1001;
  }

  .main-container {
    margin-left: 0;
  }
}

@media (max-width: 650px) {
  .patients-list {
    display: none;
  }

  .patient-button.dropdown {
    display: flex;
    padding: 6px 18px 6px 24px;
    gap: 20px;
  }

  .patient-dropdown {
    display: flex;
    flex-direction: column;

    align-items: flex-start;
  }

  .patient-name {
    font-size: 16px;
  }

  .patient-age {
    font-size: 14px;
  }

  .main-content-header {
    font-size: 24px;
  }

  .main-content {
    margin-top: 12px;
  }
}

/* Открытое меню */
.side-menu.menu-open {
  transform: translateX(0);
}

/* Затемнение фона */
.menu-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition:
    opacity 0.3s ease,
    visibility 0.3s ease;

  z-index: 1000;
}

.menu-overlay.active {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

/* Бургер */
.burger-menu {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 6px;

  flex-shrink: 0;
  width: 36px;
  height: 36px;
  padding: 10px 6px;

  cursor: pointer;
}

/* Линии бургера */
.burger-menu-line {
  width: 100%;
  height: 2px;
  background-color: var(--text-grey);
  border-radius: 100px;

  transition:
    transform 0.3s ease,
    opacity 0.2s ease;
}

/* Верхняя и нижняя линии превращаются в крест */
.burger-menu.active .burger-menu-line:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.burger-menu.active .burger-menu-line:nth-child(2) {
  opacity: 0;
}

.burger-menu.active .burger-menu-line:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

.hide {
  display: none;
}
